@font-face {

}
body{
font: ;
background: url("background.jpeg")
}.homeL {
float:left;
}.comL {
text-align:center;
}.conL {
float: right;
}nav {
  text-align: center;
  font-size: 50px;
}.HomeSec {
  margin-left: 21%;
  margin-right: 21%;
}a {
  text-decoration: none;
}.emblem {
  text-align: center;
}p {
  margin-bottom: 64px;
} h2 {
  font-size: 40px;
}
