@font-face {

}
body{
font
}.homeL {
float:left;
}.comL {
text-align:center;
}.conL {
float: right;
}nav {
  text-align: center;
  font-size: 50px;
}.crib {
  margin-left: 20%;
  margin-right: 20%;
}a {
  text-decoration: none;
}.emblem {
  text-align: center;
}p {
  margin-bottom: 64px;
}
