@font-face {
  font-family: luna;
  src: url(Luna.ttf);
}
body{
font-family: luna;

}.homeL {
float:left;
}.comL {
text-align:center;
}.conL {
float: right;
}nav {
  text-align: center;
  font-size: 50px;
}.HomeSec {
  margin-left: 21%;
  margin-right: 21%;
  color:
}a {
  text-decoration: none;
}.emblem {
  text-align: center;
}p {
  margin-bottom: 64px;
} h2 {
  font-size: 40px;
} html {
background: url("background.jpeg");
background-repeat: no-repeat;
background-size: contain; 
}
